.journalPage{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 20px;
}

.submitEntryButton{
    width: 100px;
    padding: 4px;
    border: solid 3px #3027d6;
    background-color: #3027d6;
    color: ghostwhite;
    margin: 8px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: right;
}
.submitEntryButton:hover {background-color: #4137fd}

.submitEntryButton:active{
    background-color: #3027d6;
    transform: translateY(3px);
}

.journalItem{
    margin-bottom: 10px;
}


fieldset {
	display: flex;
    flex-flow: column wrap;	
    border: none;
    flex-direction: column;
}
.journal__mood{
    width: 177px;
    margin-top: 17px;
}
.fieldset--title{
    display: flex;
    flex-direction: column;
}
.fieldset--entry{
    display: flex;
    flex-direction: column;
}
.fieldset--mood{
    display: flex;
    flex-direction: column;
}
.newTitle{
    text-align: center;
    font-family:'Raleway', sans-serif;
    text-shadow: .15px .15px #888888;

}
.journal__date{
    height:25px;
    width: auto;
}
.entryFormTitle{
    font-family:'Raleway', sans-serif;
}